html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  color: #fff;
}

canvas {
  display: block;
  border: 1px solid #EFEFEF;
}

#key {
  margin-left: 3rem;
  border: 1px solid #EFEFEF;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

#key p {
  white-space: pre;
  tab-size: 3;
}